@charset "UTF-8";
@import "animate.min.css";
@import "cssanimation.min.css";
@import "transition.min.css";
@import "animations.css";

@-webkit-keyframes compani-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
@keyframes compani-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.compani-grow {
  -webkit-animation-name: compani-grow;
  animation-name: compani-grow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes compani-shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
@keyframes compani-shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
.compani-shrink {
  -webkit-animation-name: compani-shrink;
  animation-name: compani-shrink;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.compani-transitions {
    transition:all 0.3s ease;
}
.compani-growOnHover:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.compani-shrinkOnHover:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}