.showcase-view {
  padding: 1em;
  height: 95%;
}
.app-title {
	font-size: var(--lumo-font-size-l);
	margin: 0;
}
.navi-icon {
	box-sizing: border-box;
	margin-inline-end: var(--lumo-space-m);
	margin-inline-start: var(--lumo-space-xs);
	padding: var(--lumo-space-xs);
}
#center-stage {
	justify-content: center;
	flex-grow: 1;
	margin-top: 8em;
}
.side-menu {
	flex-direction: column;
	width: 15em;
}
.button-layout {
	justify-content: space-evenly;
}
.animated-views {
	padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
	flex: 0 32%;
    margin-bottom: 2%; /* (100-32*3)/2 */
}